In [2]:
import pandas as pd

In [30]:
df=pd.read_excel("./completed_files/Agmark crops.xlsx")

In [31]:
df

,Agmark Crop Name (Raw),Crop Name - Cleaned,Variety Name - Cleaned,Source,Crop Name (Hindi),Crop Name (Marathi),Variety Name (Hindi),Crop Type,Unnamed: 8,Crop Types,Type Meanings
0,Maize,Maize,NaN,Agmark,मक्का,मका,NaN,अनाज,NaN,दलहनी फसलें,Dal
1,Wheat,Wheat,Crop,Agmark,गेहूँ,गहू,फसल,अनाज,NaN,फलियां,Ignore
2,Wheat Atta,Wheat,Aatta,Agmark,गेहूँ,गहू,आटा,अनाज,NaN,सब्ज़ी,Vegetables
3,Soyabean,Soyabean,NaN,Agmark,सोया बीन,सोयाबीन,NaN,दलहनी फसलें,NaN,फूल,Flowers
4,Paddy(Dhan)(Basmati),Paddy,Dhan - Basmati,Agmark,धान का खेत,भात,धन - बासमती,अनाज,NaN,फलदार फसलें,Fruits
...,...,...,...,...,...,...,...,...,...,...,...
316,Tube Flower,Tube Flower,NaN,Agmark,ट्यूब फूल,ट्यूब फ्लॉवर,NaN,तिलहनी फसलें,NaN,NaN,NaN
317,Turnip,Turnip,NaN,Agmark,शलजम,सलगम,NaN,फूल,NaN,NaN,NaN
318,Walnut,Walnut,NaN,Agmark,अखरोट,अक्रोड,NaN,फलदार फसलें,NaN,NaN,NaN
319,Avare Dal,Avare Dal,NaN,Agmark,अवारे दाल,अवारे दाल,NaN,सूखे मेवे,NaN,NaN,NaN
320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,अन्य,NaN,NaN,NaN

In [32]:
df = df.drop(['Crop Name (Hindi)','Agmark Crop Name (Raw)','Source','Crop Name (Marathi)','Variety Name (Hindi)','Variety Name - Cleaned'], axis=1)

In [33]:
df

    Crop Name - Cleaned     Crop Type  Unnamed: 8   Crop Types Type Meanings
0                 Maize         अनाज          NaN  दलहनी फसलें           Dal
1                 Wheat         अनाज          NaN       फलियां        Ignore
2                 Wheat         अनाज          NaN       सब्ज़ी    Vegetables
3              Soyabean   दलहनी फसलें         NaN          फूल       Flowers
4                 Paddy          अनाज         NaN  फलदार फसलें        Fruits
..                  ...           ...         ...          ...           ...
316         Tube Flower  तिलहनी फसलें         NaN          NaN           NaN
317              Turnip           फूल         NaN          NaN           NaN
318              Walnut   फलदार फसलें         NaN          NaN           NaN
319           Avare Dal     सूखे मेवे         NaN          NaN           NaN
320                 NaN          अन्य         NaN          NaN           NaN

[321 rows x 5 columns]

In [34]:
df.drop(['Unnamed: 8'],axis=1,inplace=True)

In [35]:
df

    Crop Name - Cleaned     Crop Type   Crop Types Type Meanings
0                 Maize         अनाज   दलहनी फसलें           Dal
1                 Wheat         अनाज        फलियां        Ignore
2                 Wheat         अनाज        सब्ज़ी    Vegetables
3              Soyabean   दलहनी फसलें          फूल       Flowers
4                 Paddy          अनाज  फलदार फसलें        Fruits
..                  ...           ...          ...           ...
316         Tube Flower  तिलहनी फसलें          NaN           NaN
317              Turnip           फूल          NaN           NaN
318              Walnut   फलदार फसलें          NaN           NaN
319           Avare Dal     सूखे मेवे          NaN           NaN
320                 NaN          अन्य          NaN           NaN

[321 rows x 4 columns]

In [36]:
df.isnull().sum()

Crop Name - Cleaned      1
Crop Type                1
Crop Types             310
Type Meanings          310
dtype: int64

In [37]:
df = df.dropna(how='all')

In [38]:
df.head(20)

   Crop Name - Cleaned     Crop Type    Crop Types Type Meanings
0                Maize         अनाज    दलहनी फसलें           Dal
1                Wheat         अनाज         फलियां        Ignore
2                Wheat         अनाज         सब्ज़ी    Vegetables
3             Soyabean   दलहनी फसलें           फूल       Flowers
4                Paddy          अनाज   फलदार फसलें        Fruits
5                Paddy          अनाज     सूखे मेवे    Dry Fruits
6       Tamarind Fruit   फलदार फसलें  तिलहनी फसलें         Seeds
7        Tamarind Seed  तिलहनी फसलें         औषधीय     Medicinal
8            Nelli Kai   फलदार फसलें          अनाज        Grains
9              Mustard          अन्य         मसाले        Spices
10               Mahua  तिलहनी फसलें          अन्य        Others
11               Mahua         औषधीय           NaN           NaN
12                Amla         औषधीय           NaN           NaN
13            Ashgourd   फलदार फसलें           NaN           NaN
14            Beetroot        सब्ज़ी           NaN           NaN
15        Bitter gourd        सब्ज़ी           NaN           NaN
16        Bottle gourd        सब्ज़ी           NaN           NaN
17             Brinjal        सब्ज़ी           NaN           NaN
18        Dry Chillies        सब्ज़ी           NaN           NaN
19           Field Pea         मसाले           NaN           NaN

In [39]:
df2={'Crop Type':['दलहनी फसलें','फलियां','सब्ज़ी','फूल','फलदार फसलें','सूखे मेवे','तिलहनी फसलें','औषधीय','अनाज','मसाले','अन्य'],'Type Meanings':['Dal','Ignore','Vegetables','Flowers','Fruits','Dry Fruits','Seeds','Medicinal','Grains','Spices','Others']}

In [40]:
df2=pd.DataFrame(df2)

In [41]:
df2

       Crop Type Type Meanings
0    दलहनी फसलें           Dal
1         फलियां        Ignore
2         सब्ज़ी    Vegetables
3            फूल       Flowers
4    फलदार फसलें        Fruits
5      सूखे मेवे    Dry Fruits
6   तिलहनी फसलें         Seeds
7          औषधीय     Medicinal
8           अनाज        Grains
9          मसाले        Spices
10          अन्य        Others

In [42]:
df.drop(['Crop Types','Type Meanings'],axis=1,inplace=True)

In [43]:
df

    Crop Name - Cleaned     Crop Type
0                 Maize         अनाज
1                 Wheat         अनाज
2                 Wheat         अनाज
3              Soyabean   दलहनी फसलें
4                 Paddy          अनाज
..                  ...           ...
316         Tube Flower  तिलहनी फसलें
317              Turnip           फूल
318              Walnut   फलदार फसलें
319           Avare Dal     सूखे मेवे
320                 NaN          अन्य

[321 rows x 2 columns]

In [44]:
df['Crop Type']=df['Crop Type'].map(df2.set_index('Crop Type')['Type Meanings'])

In [45]:
df

    Crop Name - Cleaned   Crop Type
0                 Maize         NaN
1                 Wheat         NaN
2                 Wheat         NaN
3              Soyabean         Dal
4                 Paddy      Grains
..                  ...         ...
316         Tube Flower       Seeds
317              Turnip     Flowers
318              Walnut      Fruits
319           Avare Dal  Dry Fruits
320                 NaN      Others

[321 rows x 2 columns]

In [46]:
df.isnull().sum()

Crop Name - Cleaned     1
Crop Type              34
dtype: int64

In [48]:
df.to_csv("Agmark_Crops_cleaned.csv",index=False)

In [49]:
df

    Crop Name - Cleaned   Crop Type
0                 Maize         NaN
1                 Wheat         NaN
2                 Wheat         NaN
3              Soyabean         Dal
4                 Paddy      Grains
..                  ...         ...
316         Tube Flower       Seeds
317              Turnip     Flowers
318              Walnut      Fruits
319           Avare Dal  Dry Fruits
320                 NaN      Others

[321 rows x 2 columns]

In [50]:
df_final=df.loc[df['Crop Type'] == 'Grains']

In [51]:
df_final

    Crop Name - Cleaned Crop Type
4                 Paddy    Grains
5                 Paddy    Grains
44            Safflower    Grains
57           Ground Nut    Grains
72          Kodo Millet    Grains
73              Jaggery    Grains
78             Bay leaf    Grains
116           Colacasia    Grains
163         Broken Rice    Grains
164                Rice    Grains
165            Sabu Dan    Grains
166        Little gourd    Grains
169          Black Gram    Grains
190       Finger Millet    Grains
241        Gingelly Oil    Grains
261               Khoya    Grains
272           Mashrooms    Grains
293           Same/Savi    Grains

In [52]:
df_final.rename(columns={'Crop Name - Cleaned':'Crop_name','Crop Type':'Crop_type'},inplace=True)

/tmp/ipykernel_12899/2516989041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns={'Crop Name - Cleaned':'Crop_name','Crop Type':'Crop_type'},inplace=True)

In [53]:
df_final

         Crop_name Crop_type
4            Paddy    Grains
5            Paddy    Grains
44       Safflower    Grains
57      Ground Nut    Grains
72     Kodo Millet    Grains
73         Jaggery    Grains
78        Bay leaf    Grains
116      Colacasia    Grains
163    Broken Rice    Grains
164           Rice    Grains
165       Sabu Dan    Grains
166   Little gourd    Grains
169     Black Gram    Grains
190  Finger Millet    Grains
241   Gingelly Oil    Grains
261          Khoya    Grains
272      Mashrooms    Grains
293      Same/Savi    Grains

In [54]:
df_final.to_csv("Agmark_grains_list.csv",index=False)